
html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--clr-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 800px;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
}

p {
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 2rem;
	letter-spacing: .05rem;
	margin: 2em 0 3em;
}

span {
	font-size: 1.2rem;
}

a {
	color: #333;
	font-size: 1.4rem;
	text-decoration: none;
	margin: 1.5rem 0;
}

.error-message{
	margin: 10px;
}

.container-login {
	border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	background: var(--clr-white);
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 97svh;
}

.form-container {
	overflow: auto;
	position: absolute;	
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	place-content: center;
	top: 0;
	height: 50%;
	width: 100%;
	z-index: 2;
}

.sign-up-container {
	place-content: center;
	top: 0;
	height: 50%;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

.form-container form {
	margin-top: 2rem;
	margin-bottom: 2rem;
	background: var(--clr-white);
	/* display: flex; */
	flex-direction: column;
	padding: 0 6rem;
	/* height: 100%; */
	justify-content: center;
	align-items: center;
	text-align: center;
}

button {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: .1rem;
	transition: transform 80ms ease-in;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:hover,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #dfe2ec inset !important;
	box-shadow: 0 0 0 30px #dfe2ec inset !important;
}

.mat-mdc-form-field {
    margin-bottom: 8px;
}

.navButton{
	border: 0px solid transparent;
}

button:active {
	transform: scale(0.95)
}

button:focus {
	outline: none;
}

button.ghost {
	background: transparent;
	border-color: var(--clr-white);
}

.overlay-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 10;
}

.overlay {
	/*For legacy browsers */
	background-color: var(--clr-secondary);
	background: linear-gradient(to right, #e5f7ff, #ffc6ffc4) no-repeat 0 0 / cover;
	color: var(--clr-white);
	position: relative;
	top: -100%;
	width: 100%;
	height: 200%;
	transform: translateY(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	place-content: center;
    overflow: auto;
	position: absolute;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 4rem;
	height: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right {
	bottom: 0;
	transform: translateY(0);
}

.overlay-left {
	transform: translateY(-20%);
}


/* Animation */

/* Move sign in to the right */
.container-login.right-panel-active .sign-in-container {
	transform: translateY(100%);
}

/* Move overlay to left */
.container-login.right-panel-active .overlay-container {
	transform: translateY(-100%);
}

/* Bring sign up over sign in */
.container-login.right-panel-active .sign-up-container {
	transform: translateY(100%);
	opacity: 1;
	z-index: 5;
}

/* Move overlay back to right */
.container-login.right-panel-active .overlay {
	transform: translateY(50%);
}

/* Sliding effect left */
.container-login.right-panel-active .overlay-left {
	transform: translateY(0);
}

/* Sliding effect right */
.container-login.right-panel-active .overlay-right {
	transform: translateY(20%);
}

@media only screen and (min-width: 992px) {
	
	body {
		height: 100svh;
	}
	
	.container-login {	
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		width: 100%;		
		/* max-width: 100%; 		 */
		height: 97svh;
	}

	.sign-in-container {
		left: 0;
		width: 50%;
		height: 100%;
	}
	
	.sign-up-container {
		left: 0;
		width: 50%;
		height: 100%;
	}

	.overlay-container {
		left: 50%;
		width: 50%;
		height: 100%;
	}
	
	.overlay {
		top: 0;
		left: -100%;
		width: 200%;
		height: 100%;
		transform: translateX(0);
	}

	.overlay-panel {
		height: 100%;
		width: 50%;
		transform: translateX(0);
	}

	.overlay-right {
		right: 0;
		transform: translateX(0);
	}

	.overlay-left {
		transform: translateX(-20%);
	}	

	/* Animation */

	/* Move sign in to the right */
	.container-login.right-panel-active .sign-in-container {
		transform: translateX(100%);
	}

	/* Move overlay to left */
	.container-login.right-panel-active .overlay-container {
		transform: translateX(-100%);
	}

	/* Bring sign up over sign in */
	.container-login.right-panel-active .sign-up-container {
		transform: translateX(100%);
	}

	/* Move overlay back to right */
	.container-login.right-panel-active .overlay {
		transform: translateX(50%);
	}

	/* Sliding effect left */
	.container-login.right-panel-active .overlay-left {
		transform: translateX(0);
	}

	/* Sliding effect right */
	.container-login.right-panel-active .overlay-right {
		transform: translateX(20%);
	}
}

@media only screen and (max-width: 991px) {

	.form-container form {
		padding: 0 2rem;
	}

	.sign-in-container,
	.sign-up-container {
	  width: 100%;
	  height: 100%;
	}
  
	.container-login.right-panel-active .sign-in-container {
	  transform: translateY(100%);
	}
  
	.container-login.right-panel-active .sign-up-container {
	  transform: translateY(0);
	  opacity: 1;
	  z-index: 5;
	}
  
	.container-login:not(.right-panel-active) .sign-in-container {
	  transform: translateY(0);
	  opacity: 1;
	  z-index: 5;
	}
  
	.container-login:not(.right-panel-active) .sign-up-container {
	  transform: translateY(-100%);
	  opacity: 0;
	  z-index: 1;
	}
  
	.overlay-container,
	.overlay {
	  display: none; /* Hide the overlay completely */
	}
  }