<div *ngIf="loading" class="loading-container flex-content-center">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<h4 mat-dialog-title class="fs-20">Add New Contact</h4>
<div mat-dialog-content class="pt-2">
  <!-- <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="query" (input)="onSearch()" placeholder="Name" />
  </mat-form-field> -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="query" (input)="onSearch(true)" placeholder="Name" />
    <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()" class="me-2">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="isLoading" class="d-flex text-center justify-content-center mt-4">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="!isLoading && searchResults.length === 0 && query.length!=0" class="text-center">
    <p>No results found</p>
  </div>

  <div class="add-contacts-list">
    <ng-scrollbar>
      <mat-list *ngIf="!isLoading && searchResults.length > 0">
        <mat-list-item *ngFor="let user of searchResults" class=" mb-2">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center contact-name-img">
              <img matListAvatar class="w-40px h-40px user-profile-picture" [src]="user.profilePicture || 'img/default-avatar.png'" />
              <div class="ms-2 d-flex flex-column">
                <div class="d-flex flex-column">
                  <span class="fs-12">{{ user.firstName }} {{ user.lastName }}</span> 
                  <span class="fs-12 text-secondary"> ({{ user.username }})</span>
                </div>
                <span *ngIf="user.hasRequestedBack" class="has-requested-back-text">Has requested to connect with you</span>
              </div>
            </div>
            <div *ngIf="!user.hasRequestedBack">
              <button mat-flat-button class="fs-12" (click)="newRequest(user)" *ngIf="!user.isAdded">
                Add
              </button>
              <button mat-stroked-button class="fs-12" (click)="cancelRequest(user)" *ngIf="user.isAdded">
                Requested
              </button>
            </div>
            <div *ngIf="user.hasRequestedBack">
              <button mat-stroked-button [matMenuTriggerFor]="menu">
                Respond back
              </button>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="fs-12" (click)="acceptRequest(user.requestId)">
                <mat-icon>check</mat-icon>
                <span>Accept</span>
              </button>
              <button mat-menu-item class="fs-12" (click)="rejectRequest(user.requestId)">
                <mat-icon>clear</mat-icon>
                <span>Reject</span>
              </button>
            </mat-menu>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-scrollbar>
  </div>

</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>