.gif-search {
    position: absolute;
    bottom: 60px;
    background: #fff;
    border-radius: 8px;
    width: 320px;
    padding: 16px;
    z-index: 1000;
    box-shadow: var(--mat-elevation-z3);
  }
  
  .search-input {
    width: 100%;
    margin-bottom: 12px;
  }
  
  .gif-results {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
  }
  
  .gif-item {
    flex: 1 1 99%; /* Three items per row */
    display: flex;
    justify-content: center;
  }
  
  .gif-item mat-card {
    width: 100%;
    cursor: pointer;
    /* transition: transform 0.2s ease-in-out; */
  }
  
  .gif-item img {
    width: 100%;
    border-radius: 4px;
  }
  