.gif-search {
    position: absolute;
    bottom: 60px;
    background: #fff;
    border-radius: 8px;
    width: 320px;
    padding: 16px;
    z-index: 1000;
    box-shadow: var(--mat-elevation-z3);
    margin-left: -200px !important;
    background-color:rgba(240, 240, 240, 0.9);
  }
  
  .search-input {
    width: 100%;
    margin-bottom: 12px;
  }
  
  .gif-results {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
  }
  
  .gif-item {
    flex: 1 1 99%;
    display: flex;
    justify-content: center;
    padding-right: 2px;
  }
  
  .gif-item mat-card {
    width: 100%;
    cursor: pointer;
  }
  
  /* scrollbar */
  .gif-item img {
    width: 100%;
    border-radius: 4px;
  }
  
  .gif-results::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .gif-results::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 5px;
  }
  
  /* Handle */
  .gif-results::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(193, 193, 193, 1);
  }
  /*-- scrollbar --*/