<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="container-fluid fadeInAnimation account-settings">
    <div class="row mb-3">
        <div class="col-2 d-flex justify-content-start align-items-center">
            <button mat-mini-fab color="secondary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col d-flex justify-content-center align-items-center text-center">
            <h2 class="mb-0">Manage Contacts</h2>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
            <button mat-mini-fab color="secondary" (click)="addContacts()">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
    </div>

    <mat-tab-group (selectedIndexChange)="changeActiveTab()">
        <!-- Contacts Tab -->
        <mat-tab label="Contacts">
            <div class="contacts-list mt-2">
                <button mat-stroked-button class="archived-requests" (click)="addContacts()" *ngIf="contacts.length == 0 && hasContactsLoaded">
                    <mat-icon>person_add</mat-icon>Add Contacts
                </button>

                <div *ngFor="let contact of contacts" class="contact-item">
                    <div class="d-flex align-items-center">
                        <img matListAvatar class="w-40px h-40px"
                            [src]="contact.profilePicture || 'img/default-avatar.png'" />
                        <div class="ms-2">{{ contact.firstName }} {{ contact.lastName }} ({{contact.email}})</div>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="contactMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #contactMenu="matMenu">
                        <button mat-menu-item (click)="removeContact(contact.id)">
                            <mat-icon>delete</mat-icon> Remove Contact
                        </button>
                    </mat-menu>
                </div>
                <div *ngIf="contacts.length === 0 && hasContactsLoaded" class="text-center mt-3">
                    No contacts
                </div>
            </div>
        </mat-tab>

        <!-- Requests Tab -->
        <mat-tab label="Requests">
            <!-- Pending Requests Section -->
            <div class="requests-list mt-2 fadeInAnimation" *ngIf="!showArchivedRequests">
                <button mat-stroked-button class="archived-requests" (click)="toggleArchivedRequests()">
                    <mat-icon>filter_list</mat-icon>Show Archived Requests
                </button>

                <div *ngFor="let request of requests" class="request-item">
                    <div class="d-flex align-items-center">
                        <img matListAvatar class="w-40px h-40px"
                            [src]="request.userFrom.profilePicture || 'img/default-avatar.png'" />
                        <div class="ms-2">{{ request.userFrom.firstName }} {{ request.userFrom.lastName }} ({{request.userFrom.email}})</div>
                    </div>
                    <div class="actions">
                        <button mat-stroked-button color="primary" (click)="acceptRequest(request.id)">
                            Accept
                        </button>
                        <button mat-stroked-button color="warn" (click)="rejectRequest(request.id)">
                            Reject
                        </button>
                    </div>
                </div>
                <div *ngIf="requests.length === 0" class="text-center mt-3">
                    No pending requests
                </div>
            </div>

            <!-- Archived Requests Section -->
            <div class="requests-list mt-2 fadeInAnimation" *ngIf="showArchivedRequests">
                <button mat-stroked-button class="archived-requests" (click)="toggleArchivedRequests()">
                    <mat-icon>list_alt</mat-icon> Show current requests
                </button>
                <div *ngFor="let archivedRequest of archivedRequests" class="request-item">
                    <div class="d-flex align-items-center">
                        <img matListAvatar class="w-40px h-40px"
                            [src]="archivedRequest.userFrom.profilePicture || 'img/default-avatar.png'" />
                        <div class="ms-2">{{ archivedRequest.userFrom.firstName }} {{ archivedRequest.userFrom.lastName }} ({{archivedRequest.userFrom.email}})</div>
                    </div>
                    <div class="actions">
                        {{ getRequestStatus(archivedRequest.requestStatus) }}
                    </div>
                </div>
                <div *ngIf="archivedRequests.length === 0" class="text-center mt-3">
                    No archived requests
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>