<div class="left-pane d-flex flex-column h-100">
    <div class="acc-overview mb-2">
        <app-account-overview (resetChat)="handleSelectedChat($event)"></app-account-overview>
    </div>

    <div class="search-bar mb-2">
        <mat-form-field class="w-100">
            <mat-label>Search</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="tab-group-container flex-grow-1 overflow-hidden">
        <mat-tab-group class="mat-tabs-messages-contacts" [(selectedIndex)]="selectedTabIndex">
            <mat-tab label="Messages">
                <ng-template *ngIf="messagesList.length > 0; else noMessagesPage">

                    <ng-scrollbar>
                        <mat-selection-list>
                            <mat-list-item *ngFor="let message of messagesList; index as i" class="message-list"
                                [ngClass]="{'selected': message.recipientId==selectedChatId}"
                                (click)="openChat(message.recipientId)">
                                <div class="message-card d-flex align-items-center">
                                    <div mat-card-avatar class="me-2 example-header-image w-50px h-50px"></div>
                                    <div>
                                        <span matListItemTitle>{{ message.name }}</span>
                                        <span matListItemLine [ngClass]="message.isSeen ? 'seen' : 'notSeen'">
                                            {{ message.recentMessage }}
                                        </span>
                                        <span matListItemLine [ngClass]="message.isSeen ? 'seen' : 'notSeen'">
                                            {{ message.lastMessageSentAt | chatDate }}
                                        </span>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-selection-list>
                    </ng-scrollbar>
                </ng-template>

                <ng-template #noMessagesPage>
                    <div class="text-center mt-3 mb-3">
                        <span>No messages found</span>
                        <br>
                        <button mat-stroked-button class="mt-3 mb-3" (click)="goToContactsTab()">
                            Start new chat
                        </button>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Contacts">
                <ng-template *ngIf="contactsList.length > 0; else noContactsPage">


                <ng-scrollbar>
                    <mat-selection-list>
                        <mat-list-item *ngFor="let contact of contactsList; index as i" class="contacts-list"
                            [ngClass]="{'selected': contact.recipientId==selectedChatId}"
                            (click)="openChat(contact.recipientId)">
                            <mat-card class="contact-card bg-none">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>{{contact.name}}</mat-card-title>
                                    <mat-card-subtitle class="d-flex align-items-center mt-1">
                                        <ng-container
                                            *ngIf="isLessThan5min(contact.lastActive); else lastActiveTemplate">
                                            <mat-icon class="active-icon">circle</mat-icon>
                                            Active now
                                        </ng-container>
                                        <ng-template #lastActiveTemplate>
                                            {{ contact.lastActive | lastActive }}
                                        </ng-template>
                                    </mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </mat-list-item>
                    </mat-selection-list>
                </ng-scrollbar>
            </ng-template>

            <ng-template #noContactsPage>
                <div class="text-center mt-3 mb-3">
                    <span>No contacts found</span>
                    <br>
                    <button mat-stroked-button class="mt-3 mb-3" (click)="addNewContactDialog()">
                        Add Friends
                    </button>
                </div>
            </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>