<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="container-fluid fadeInAnimation account-settings">
    <div class="row mb-5">
        <div class="col-2 d-flex justify-content-start align-items-center">
            <button mat-mini-fab color="secondary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col d-flex justify-content-center align-items-center text-center">
            <h2 class="mb-0">Admin Panel</h2>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">

        </div>
    </div>

    <div class="row">
        <mat-tab-group>
            <mat-tab label="Users Registry">
              <!-- <app-users-registry></app-users-registry> -->
            </mat-tab>
            <mat-tab label="Roles Registry">
              <!-- <app-roles-registry></app-roles-registry> -->
            </mat-tab>
          </mat-tab-group>
    </div>
</div>