<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>


<h2 mat-dialog-title>{{ isEdit ? 'Edit User' : 'Add User' }}</h2>
<div mat-dialog-content  class="mx-2" >


    <div class="tab-group-container flex-grow-1 overflow-hidden">
        <mat-tab-group>
            <mat-tab label="General">
                <form>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control" [(ngModel)]="user.firstName" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control" [(ngModel)]="user.lastName" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input class="form-control" [(ngModel)]="user.username" name="username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input class="form-control" [(ngModel)]="user.phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <select class="form-select" [(ngModel)]="user.gender" name="gender">
                            <option [value]="1">Female</option>
                            <option [value]="0">Male</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" [(ngModel)]="user.dateOfBirth" name="dateOfBirth">
                    </div>
                </form>

                <button mat-button (click)="onCancel()">Cancel</button>
                <button mat-flat-button color="primary" (click)="onSave()" [disabled]="loading">Save</button>
            </mat-tab>
            <mat-tab label="Password" *ngIf="isEdit">
                <form #passwordForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input class="form-control" type="password" [(ngModel)]="passwordModel.newPassword" name="newPassword" required (keyup)="onPwFormChange()">
                    </div>
                    <button mat-flat-button color="primary" type="button" (click)="changePassword()" [disabled]="!passwordFormNotEmpty || loading">Change Password</button>
                </form>
            </mat-tab>
            <mat-tab label="Picture" *ngIf="isEdit">
                <div class="d-flex flex-column align-items-center mb-3">
                    <img [src]="profilePicture" alt="Profile Picture" class="rounded-circle mb-3 profile-pic-settings" style="width: 100px; height: 100px;">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Change Picture</button>
                    <input type="file" hidden #fileInput accept="image/*" (change)="onFileSelected($event)">
                    <button *ngIf="hasProfilePicture" class="mt-2" mat-raised-button color="warn" (click)="removePicture()">Remove Picture</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
