<div class="chat-window">
  <div class="h-100px card p-3 mb-3">
    <div class="d-flex justify-content-between">
      <div>
        <h2>{{recipientId}}{{ recipient?.firstName }} {{ recipient?.lastName }}</h2>
        <p *ngIf="recipient?.isActive">Active Now</p>
        <p *ngIf="!recipient?.isActive">Last active: {{ recipient?.lastActive }}</p>
      </div>
      <div>
        <button mat-icon-button (click)="toggleSettings()">
          <mat-icon>view_week</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-scrollbar class="messages" #scrollbarRef="ngScrollbar">
    <div *ngFor="let message of messages" class="message"
      [ngClass]="message.senderId == currentUserId ? 'sent' : 'received'">
      <div class="message-content">
        <span class="wrap-anywhere">{{ message.content }}</span>
        <br>
        <span class="timestamp">{{ message.createdAt | date:'shortTime' }}</span>
        <span style="float: right;">s:{{message.senderId}}, r:{{message.recipientId}}</span>
      </div>
    </div>
  </ng-scrollbar>

  <div class="input-container d-flex align-items-end p-2">
    <!-- <input matInput [(ngModel)]="newMessage" placeholder="Type a message..." (keydown.enter)="sendMessage()" #messageInput /> -->
    <div class="w-100 d-flex align-items-end">
      <textarea
        class="w-100 messageTextArea" 
        matInput #messageInput 
        [(ngModel)]="newMessage" 
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" 
        cdkAutosizeMinRows="1" 
        cdkAutosizeMaxRows="5" 
        (keydown.enter)="sendMessage()">
      </textarea>
      <button mat-icon-button>
        <mat-icon>gif</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>image</mat-icon>
      </button>
    </div>
    <!-- <button mat-raised-button color="primary" (click)="sendMessage()">Send</button> -->
    <button mat-raised-button color="primary" (click)="sendMessage()">
      <div class="d-flex">
        <mat-icon>send</mat-icon>
      </div>
    </button>
  </div>
</div>