<div class="chat-window">
  <div class="h-100px card p-3 mb-3">
    <h2>{{recipientId}}{{ recipient?.firstName }} {{ recipient?.lastName }}</h2>
    <p *ngIf="recipient?.isActive">Active Now</p>
    <p *ngIf="!recipient?.isActive">Last active: {{ recipient?.lastActive }}</p>
  </div>
  <ng-scrollbar class="messages" #scrollbarRef="ngScrollbar">
    <div *ngFor="let message of messages" class="message"
      [ngClass]="message.senderId == currentUserId ? 'sent' : 'received'">
      <div class="message-content">
        <span class="wrap-anywhere">{{ message.content }}</span>
        <br>
        <span class="timestamp">{{ message.createdAt | date:'shortTime' }}</span>
        s: {{message.senderId}}, r: {{message.recipientId}}
      </div>
    </div>
  </ng-scrollbar>

  <div class="input-container d-flex align-items-end p-2">
    <!-- <input matInput [(ngModel)]="newMessage" placeholder="Type a message..." (keydown.enter)="sendMessage()" #messageInput /> -->
    <textarea 
      class="w-100 messageTextArea" 
      matInput 
      #messageInput 
      [(ngModel)]="newMessage" 
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" 
      cdkAutosizeMinRows="1" 
      cdkAutosizeMaxRows="5" 
      (keydown.enter)="sendMessage()">
    </textarea>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </div>
</div>