.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
}

.messages {
  flex: 1;
  background-color: #fff;
}

.message {
  margin: 5px 0;
  display: flex;
}

.sent {
  margin-right: 10px;
  justify-content: flex-end;
}

.received {
  margin-left: 10px;
  justify-content: flex-start;
}

.highlight {
  background-color: #ffeeba;
  border: 1px solid #ffc107;
  border-radius: 8px;
  padding: 4px;
}

.message-content {
  max-width: 80%;
  padding: 8px 8px 0px 8px;
  border-radius: 5px;
}

.sent .message-content {
  background-color: #d7e3ff;
}

.received .message-content {
  background-color: #f1f1f1;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

.input-container {
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  margin-right: 5px;
}

button {
  margin-left: 5px;
}

.media-preview {
  position: relative;
  display: inline-block;
  margin: 5px; /* Optional spacing between media previews */
}

.media-thumbnail {
  max-width: 150px; /* Adjust the size of the media preview */
  max-height: 150px;
  border-radius: 8px; /* Optional styling */
  border: 1px solid rgb(201, 201, 201);
  display: block;
}

.media-chat {
  max-width: 250px; /* Adjust the size of the media preview */
  max-height: 250px;
  border-radius: 8px; /* Optional styling */
  display: block;
}

button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8); /* Light background for visibility */
  z-index: 10;
  border-radius: 50%; /* Optional: make the button circular */
}

button.close:hover {
  background: rgba(255, 255, 255, 1); /* Change background on hover */
}

.startChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  opacity: 0.8;
}

.startChat mat-icon {
  font-size: 48px;
  color: #888;
  margin-bottom: 10px;
}

.startChat span {
  max-width: 80%;
}

.date-marker {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  color: #666;
  background-color: #f0f0f078;
  padding: 5px;
  border-radius: 20px;
}