.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.messages {
  flex: 1;
  background-color: #fff;
}

.message {
  margin: 5px 0;
  display: flex;
}

.sent {
  margin-right: 10px;
  justify-content: flex-end;
}

.received {
  margin-left: 10px;
  justify-content: flex-start;
}

.highlight {
  background-color: #ffeeba;
  border: 1px solid #ffc107;
  border-radius: 8px;
  padding: 4px;
}

.message-content {
  max-width: 80%;
  padding: 8px 8px 0px 8px;
  border-radius: 5px;
  box-shadow: 0 0 2px #afafaf;
}

.sent .message-content {
  background-color: #d7e3ff;
}

.received .message-content {
  background-color: #f1f1f1;
}

.input-container {
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  margin-right: 5px;
}

button {
  margin-left: 5px;
}

.media-preview {
  position: relative;
  display: inline-block;
  margin: 5px; /* Optional spacing between media previews */
}

.media-thumbnail {
  max-width: 150px; /* Adjust the size of the media preview */
  max-height: 150px;
  border-radius: 8px; /* Optional styling */
  border: 1px solid rgb(201, 201, 201);
  display: block;
}

.media-chat {
  max-width: 250px; /* Adjust the size of the media preview */
  max-height: 250px;
  border-radius: 8px; /* Optional styling */
  display: block;
}

button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8); /* Light background for visibility */
  z-index: 10;
  border-radius: 50%; /* Optional: make the button circular */
}

button.close:hover {
  background: rgba(255, 255, 255, 1); /* Change background on hover */
}

.startChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  opacity: 0.8;
}

.startChat mat-icon {
  font-size: 48px;
  color: #888;
  margin-bottom: 10px;
}

.startChat span {
  max-width: 80%;
}

.date-marker {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  color: #7b7b7b;
  background-color: #f0f0f078;
  padding: 5px;
  border-radius: 20px;
}

.no-older-messages {
  text-align: center;
  padding: 10px;
  padding-bottom: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #552;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 25px;
  max-width: 80%;
  box-shadow: -8px 7px 5px rgba(0, 0, 0, 0.1);
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.typing-indicator .message-content {
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
}

.typing-dots span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background-color: #555;
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out both;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}

.scroll-to-bottom-btn {
  opacity: 80%;
  position: absolute;
  bottom: 60px;
  right: -10px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
  border: 1px solid darkgray;
}

.message-settings-btn {
  border: 0px;
  background: transparent;
  border-radius: 12px;
  width: 20px;
  padding: 0px;
}