<div class="container-fluid fadeInAnimation">

  <div class="row">
    <div [ngClass]="{
        'd-block': showLeftPane,
        'd-none': !showLeftPane,
        'br-r': !mobileQuery.matches,
        'fadeInAnimation': mobileQuery.matches
      }" class="col-lg-4">
      <app-left-pane 
        [startChat]="startChatEvent" 
        [updateActiveContact]="activeUserId"
        [newChatMessage]="recievedChatMessage" 
        [closedChatWindow]="selectedChatRecipientId" 
        (selectedChat)="handleSelectedChat($event)">
      </app-left-pane>
    </div>

    <div class="col-lg-8" [ngClass]="!showChat && !showChatSettings ? 'd-none' : 'd-block'">
      <div class="row h-100">

        <div [ngClass]="{
            'col-lg-8': isChatSettingsEnabled,
            'col-lg-12': !isChatSettingsEnabled,
            'd-block': showChat,
            'd-none': !showChat,
            'br-r': !mobileQuery.matches
          }" class="chat fadeInAnimation " *ngIf="isChatSelected && selectedChatRecipientId">
          <app-chat 
            [recipientId]="selectedChatRecipientId" 
            [searchedMessageId]="searchedMessageIdFromSettings"
            (toggleChatSettings)="toggleSettings()" 
            (newSharedMedia)="updateChatSettings($event)"
            (newSentChatMessage)="updateLeftPaneChats($event)"
            (closeChatBtnEmitter)="closeChatWindow()">
          </app-chat>
        </div>

        <div [ngClass]="{
            'd-block': showChatSettings,
            'd-none': !showChatSettings,
          }" class="col-lg-4 chat fadeInAnimation"
          *ngIf="isChatSelected && selectedChatRecipientId && isChatSettingsEnabled">
          <app-chat-settings 
            [recipientId]="selectedChatRecipientId" 
            [newMediaMessage]="recievedMediaMessage"
            (searchMessageId)="handleSearchedMessageId($event)"
            (closeChatSettingsBtnEmitter)="closeChatSettings()">
          </app-chat-settings>
        </div>

        <div class="col-sm-12 start-chat fadeInAnimation" *ngIf="!isChatSelected && !mobileQuery.matches">
          <div>
            <p>Your messages</p>
            <p>Send a message to start a chat.</p>
            <button mat-flat-button color="primary" (click)="startChat()">Start a chat</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>