<div class="container-fluid fadeInAnimation">

  <!-- <app-header></app-header> -->

  <div class="row">

    <div class="col-lg-4 border">
      <app-left-pane (selectedChat)="handleSelectedChat($event)" [startChat]="startChatEvent" [updateActiveContact]="activeUserId" [newChatMessage]="recievedChatMessage"></app-left-pane>
    </div>

    <div class="col-lg-8">
      <div class="row h-100">

        <div [ngClass]="isChatSettingsEnabled ? 'col-lg-8' : 'col-lg-12'" class=" chat fadeInAnimation border"
          *ngIf="isChatSelected && selectedChatRecipientId">
          <app-chat (toggleChatSettings)="toggleSettings()" (newSentChatMessage)="updateLeftPaneChats($event)" [recipientId]="selectedChatRecipientId" [searchedMessageId]="searchedMessageIdFromSettings"></app-chat>
        </div>

        <div class="col-lg-4 chat fadeInAnimation border"
          *ngIf="isChatSelected && selectedChatRecipientId && isChatSettingsEnabled">
          <app-chat-settings [recipientId]="selectedChatRecipientId" (searchMessageId)="handleSearchedMessageId($event)"></app-chat-settings>
        </div>

        <div class="col-sm-12 start-chat fadeInAnimation border" *ngIf="!isChatSelected">
          <div>
            <p>Your messages</p>
            <p>Send a message to start a chat.</p>
            <button mat-flat-button color="primary" (click)="startChat()">Start a chat</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>