<div class="container-fluid fadeInAnimation">

  <!-- <app-header></app-header> -->

  <div class="row">

    <div class="col-lg-4">
      <app-left-pane (selectedChat)="handleSelectedChat($event)"></app-left-pane>
    </div>

    <div class="col-lg-8">
      <div class="row h-100">

        <div class="col-lg-8 border chat fadeInAnimation" *ngIf="isChatSelected && selectedChatRecipientId">
          <app-chat [recipientId]="selectedChatRecipientId"></app-chat>
        </div>

        <div class="col-lg-4 border fadeInAnimation" *ngIf="isChatSelected && selectedChatRecipientId">
          <app-chat-settings [recipientId]="selectedChatRecipientId"></app-chat-settings>
        </div>
        
        <div class="col-sm-12 start-chat border fadeInAnimation" *ngIf="!isChatSelected">
          <div>
            <p>Your messages</p>
            <p>Send a message to start a chat.</p>
            <button mat-flat-button color="primary">Start a chat</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>