<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="container-fluid fadeInAnimation account-settings">
    <div class="row mb-5">
        <div class="col-2 d-flex justify-content-start align-items-center">
            <button mat-mini-fab color="secondary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col d-flex justify-content-center align-items-center text-center">
            <h2 class="mb-0">Account Settings</h2>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">

        </div>
    </div>

    <div class="row">
        <!-- Profile Picture Column -->
        <div class="col-lg-4 d-flex flex-column align-items-center mb-5">
            <img [src]="profilePicture" alt="Profile Picture" class="rounded-circle mb-3 profile-pic-settings">
            <button mat-raised-button color="primary" (click)="fileInput.click()">Change Picture</button>
            <input type="file" hidden #fileInput accept="image/*" (change)="onFileSelected($event)">
            <button *ngIf="hasProfilePicture" class="mt-2" mat-raised-button color="warn" (click)="removePicture()">Remove Picture</button>
        </div>

        <!-- User Details Form Column -->
        <div class="col-lg-4">
            <form [formGroup]="userForm" (ngSubmit)="updateUserDetails()">
                <mat-form-field class="w-100 mb-2">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
                        First Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                        Last Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Email</mat-label>
                    <input readonly matInput formControlName="email">
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dateOfBirth" [min]="minDate" [max]="maxDate"
                        [matDatepicker]="picker" required />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="userForm.controls['dateOfBirth'].hasError('required')">
                        Date of Birth is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                </mat-form-field>

                <mat-radio-group formControlName="gender" class="d-flex mb-2">
                    <mat-radio-button value="0">Male</mat-radio-button>
                    <mat-radio-button value="1">Female</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="userForm.controls['gender'].hasError('required')">
                    Gender is required
                </mat-error>
                <button class="mb-5" mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
                    Update Details</button>
            </form>
        </div>

        <!-- Change Password Form Column -->
        <div class="col-lg-4">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Old Password</mat-label>
                    <input matInput formControlName="oldPassword" type="password" required (change)="onPwFormChange()">
                    <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('required')">
                        Old Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" required (change)="onPwFormChange()">
                    <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
                        New Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" required (change)="onPwFormChange()">
                </mat-form-field>
                <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">
                    Passwords do not match
                </mat-error>
                <button mat-raised-button color="primary" type="submit" [disabled]="!passwordFormNotEmpty || passwordForm.invalid ">
                    Change Password
                </button>
            </form>
        </div>
    </div>
</div>