<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="container-fluid fadeInAnimation ">
    <div class="row mb-5">
        <div class="col-2 d-flex justify-content-start align-items-center">
            <button mat-mini-fab color="secondary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col d-flex justify-content-center align-items-center text-center">
            <h2 class="mb-0">Account Settings</h2>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">

        </div>
    </div>

    <div class="row">
        <!-- Profile Picture Column -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img [src]="profilePicture" alt="Profile Picture" class="rounded-circle mb-3"
                style="width: 150px; height: 150px; object-fit: cover;">
            <button mat-raised-button color="primary" (click)="changePicture()">Change Picture</button>
            <input type="file" hidden #fileInput (change)="onFileSelected($event)">
        </div>

        <!-- User Details Form Column -->
        <div class="col-lg-4">
            <form [formGroup]="userForm" (ngSubmit)="updateUserDetails()">
                <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
                        First Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                        Last Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" readonly>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                        required />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="userForm.controls['dob'].hasError('required')">
                        Date of Birth is required
                    </mat-error>
                </mat-form-field>

                <mat-radio-group formControlName="gender" class="d-flex">
                    <mat-radio-button value="male" class="me-3">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="userForm.controls['gender'].hasError('required')">
                    Gender is required
                </mat-error>
                <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Update
                    Details</button>
            </form>
        </div>

        <!-- Change Password Form Column -->
        <div class="col-lg-4">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                <mat-form-field class="w-100">
                    <mat-label>Old Password</mat-label>
                    <input matInput formControlName="oldPassword" type="password" required>
                    <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('required')">
                        Old Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" required>
                    <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
                        New Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" required>
                    <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Change
                    Password</button>
            </form>
        </div>
    </div>
</div>