<div class="container-fluid fadeInAnimation account-settings">
    <div class="row mb-5">
        <div class="col-2 d-flex justify-content-start align-items-center">
            <button mat-mini-fab color="secondary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col d-flex justify-content-center align-items-center text-center">
            <h2 class="mb-0">To-Do list</h2>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">

        </div>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">Messages - Service, fetch, send</li>
            <li class="list-group-item list-group-item-dark">Chat search ScrollToElement - gets parameter message id and scrolls to specified searchTag</li>
            <li class="list-group-item">Chat Settings - here happens the actual search of messages. Service returns a list of result messages, and if one message is selected, that message id is passed to the chat component and will be set to the searchedMessageId property where it will fetch that message and 20 more after that message. here it will be used the scrollToElement method the searched message will be highlighted.</li>
            <li class="list-group-item">Left Pane Search</li>
        </ul>
    </div>
</div>