<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="acc-overview d-flex align-items-center justify-content-between">

    <div class="cursor-pointer" (click)="resetChats()">
        <div *ngIf="hasProfilePicture" class="d-inline-block">
            <img [src]="profilePicture" alt="Profile Picture" class="rounded-circle profile-pic-home">
        </div>
        <div *ngIf="!hasProfilePicture" class="d-inline-block" [attr.data-initials]="userInitials"></div>

        <span class="font-large">
            {{currentUser.firstName}} {{currentUser.lastName}}
        </span>
    </div>

    <!-- <div>
        <button mat-icon-button routerLink="/todo">
            <mat-icon>assignment_turned_in</mat-icon>
        </button>
    </div> -->

    <div>
        <div class="position-relative">
            <div class="notifications right10px" *ngIf="hasRequests">
                <span *ngIf="requestsCount > 9">+9</span>
                <span *ngIf="requestsCount <= 9">+{{requestsCount}}</span>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addContacts()">
                <mat-icon>person_add</mat-icon>
                <span>Add Contacts</span>
            </button>
            <div class="position-relative">
                <div class="notifications left1px" *ngIf="hasRequests">
                    <span *ngIf="requestsCount > 9">+9</span>
                    <span *ngIf="requestsCount <= 9">+{{requestsCount}}</span>
                </div>
                <button mat-menu-item routerLink="/contacts">
                    <mat-icon>supervisor_account</mat-icon>
                    <span>Manage Contacts</span>
                </button>
            </div>

            <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>portable_wifi_off</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </div>
</div>