@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/material/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 2px !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material Components */
.active-icon {
  font-size: 20px;
  color: limegreen;
  height: min-content;
}

.card-tab {
  padding: 10px;
  border: 1px solid #c4c6d0 !important;
  border-radius: 10px !important;
}

.d-none-important{
  display: none !important;
}

.d-block-important{
  display: block !important;
}

.mat-icon-small {
  font-size: 48px !important;
  width: 48px;
  height: 48px;
}

.mat-mdc-card-header {
  background: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 5px;
}

.mat-mdc-tab-body-content {
  /* height: 600px !important; */
  overflow: hidden !important;
}

.mat-mdc-text-field-wrapper {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.mat-tabs-messages-contacts .mat-mdc-tab {
  padding: 0 !important;
}
/*-- Material Components --*/


/* Ngx Scrollbar */
.scrollbar-track {
  color: rgba(255, 255, 255, 0);
}

.scrollbar-thumb {
  background-color: #c1c1c1 !important;
  border-radius: 10px !important;
}

.scrollbar-thumb:hover {
  background-color: #787878;
}
/*-- Ngx Scrollbar --*/


.acc-overview{
  height: 50px;
}

.bg-none {
  background: none !important;
}

.br-top-10px {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.custom-container {
  margin: 2px !important;
}


.font-large{
  font-size: 20px;
}

.w30px {
  width: 30px !important;
}

.h30px {
  height: 30px !important;
}

.w-50px {
  width: 50px !important;
}

.h-50px {
  height: 50px !important;
}

.chat{
  height: 98vh !important;
}

.contacts-list {
  height: auto !important;
}

.contact-card {
  box-shadow: none !important;
}

.mat-tabs-messages-contacts{
  height: calc(100vh - 175px);
}

.message-card{
  margin-top: -25px;
}

.message-list{
  height: 100px;
}

.notSeen {
  font-weight: bold !important;
  color: black !important;
}

.seen {
  font-weight: normal !important;
  color: inherit !important;
}

.start-chat{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-anywhere{
  overflow-wrap: anywhere;
}